html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #555557;
    color: #CED7DB;;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 0%;
    margin-right: auto;
}

.site-header {
    background-color: #798C91;
}

.site-footer {
    background-color: #798C91;
}

.off-white {
    background-color: #F2F2F2;
}

.light-gray {
    background-color: #CED7DB;
}

.gray {
    background-color: #B1B1BA;
}

.dark-gray {
    background-color: #555557;
}